body div {
	font-family: 'Fira Sans', sans-serif;
	-moz-user-select: none; 
	-webkit-user-select: none; 
	-ms-user-select:none; 
	user-select:none;
	-o-user-select:none;
}
.synth{
	background: #BFBFBF;
	position:absolute;
	width:700px;
	height:700px;
	top: 50px;
	left:100px;
	color:black;
	box-shadow: 3px 3px 2px #b3b3b3;
	-webkit-transition:box-shadow,.03s;
	-moz-transition:box-shadow,.03s;
}

.synth:hover{
	box-shadow: 5px 5px 2px #b3b3b3;
}

.part{
	/*background:blue;*/
	position: absolute;
	top: 10%;
	left: 1%;
	width: 98%;
	height: 89%;
	font-size:15px;
}

.oscilators{
	position: absolute;
	/*background:green;*/
	left: 1%;
	top: 1%;
	width: 98%;
	height:60%;
}

#a1{
	position: absolute;
	/*background:yellow;*/
	left: 1%;
	top: 1%;
	width: 98%;
	height:48%;
}

#a2{
	position: absolute;
	/*background:yellow;*/
	left: 1%;
	top: 51%;
	width: 98%;
	height:48%;
}

.filter{
	position: absolute;
	/*background:purple;*/
	width: 48%;
	height:38%;
	left: 1%;
	top:62%;
}

.ADSR{
	position: absolute;
	/*background:purple;*/
	width: 48%;
	height:38%;
	left: 51%;
	top:62%;
}

.nav{
	position: relative;
	width: 98%;
	height: 6%;
	top: 1%;
	left:1%;
	margin: 0;
}

.nav ul{
	position: relative;
	width: 100%;
	height: 100%;
	left: 0%;
	top: 0%;
	text-align: center;
	padding: 0px;

}

.nav li{
	font-size: 20px;
	display: inline;
	position: relative;
	border-bottom: 0px solid black;
	padding: 8px;
	top: 20%;
	-webkit-transition:borderBottom,.05s;
	-moz-transition:borderBottom,.05s;
	cursor: default;
}

.knobPanel{
	position: absolute;
	left: 30%;
	top: 25%;
	width: 70%;
	height: 50%;
}


.knob{
	position: relative;
	margin: auto;
	width: 60px;
	height: 60px;
	border-radius: 30px;
	background: #EEEEEE ;

	background-image: url('knob.png');
	background-size: 100%;
	background-repeat:no-repeat;
 
}

#volumeKnobA{
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg); 
	-ms-transform:rotate(0deg);
}

.wavePanel{
	text-align: center;
	position: absolute;
	width: 20%;
	top: 30%;
	left:5%;
	height: 50%;
}

.wavePanel td{
	width: 50%;
	height: 50%;
	background: #EEEEEE 
}

.filterPanel{
	position: absolute;
	left:20%;
	top: 20%;
	text-align: center;
}

.ADSRPanel{
	position: absolute;
	top: 10%;
	left: 20%;
	height: 60%;
	width: 60%;
	text-align: center;
	font-size: 20px;
}

.ADSRPanel td{
	padding: 0px;
	width: 5px;

}

.ADSRPanel input{
	writing-mode: bt-lr;
    -webkit-appearance: slider-vertical;
    padding: 0;
    width: 5px;
    height: 80%;
    margin: auto;
}